body{
	background-image: url('../imgs/ninjaBackground.jpg');
	background-position: 100%;
}

.container{
	background-color: rgba(220,220,220,0.6);
	margin-top: 20px;
	padding: 5%;
	border-radius: 50px;
}

h1{
	text-align: center;
	margin-bottom: 20px;
}

.links{
	display: flex;
	justify-content: space-around;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}