body{
	background-color: slategray;
}

.container{
	background-color: gainsboro;
	padding: 2% 5%;
	margin-top: 2%;
	border-radius: 10px;
}

.table{
	border-radius: 10px;
}

.header{
	margin: 20px 0;
}

.header-row{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}